@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-slate-200;
    font-family: 'Inter', sans-serif;
  }

  #appointmentList::-webkit-scrollbar {
    width: 8px;
  }
  #appointmentList::-webkit-scrollbar-track {
    @apply bg-gray-800 rounded-lg;
  }
  #appointmentList::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-lg;
  }
  #appointmentList::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    cursor: pointer;
  }
}
